<div id="rmenu" class="omega">
	<ul class="ul2">
		<li><%= link_to "Мои объявления", posts_profile_path %></li>
		<li><%= link_to "Мои комментарии", commnents_profile_path %></li>
		<li><%= link_to "Моя статистика", stat_profile_path %></li>
		<li><%= link_to "Сменить имя/пароль", edit_user_path(:current) %></li>
		<li><%= link_to "Справка", help_profile_path %></li>
		<% if /manager/ =~ current_user.groups %>
			<li><%= link_to "Лоты по недвиж", nedvjs_path %></li>
			<li><%= link_to "Изм пар польз", edit_user_path(:current) %></li>
			<li><%= link_to "Все пользователи", users_path %></li>
			<li><%= link_to "Соз нов польз", new_user_path %></li>
			<li><%= link_to "Рассылка", new_rassylka_path %></li>
			<li><%= link_to "Населённые пункты", locations_path %></li>
			<li><%= link_to "Прод, Категории", product_categories_path %></li>
			<li><%= link_to "Прод, Разделы", product_sections_path %></li>
			<li><%= link_to "Прод, Подразделы", product_sub_sections_path %></li>
		<% end %>
	</ul>
</div>

