<% content_for(:menu) do %>
	<%= render :partial => 'menu' %>
<% end %>

<div class="container_16">
	<div class="grid_13 alpha">
	
		Всего объявлений: <%=h @postcount -%><br />
		Всего комментариев к объявлениям: <%=h @commentcount -%><br />
		<% if /manager/ =~ current_user.groups %>
      Всего пользователей: <%=h @users_count -%><br />
      Активированных пользователей: <%=h @users_count_activate -%><br />
      Не активированных пользователей: <%=h @users_count_non_activate -%><br />
		<% end %>
	</div>
	
	<%= render :partial => 'rmenu' %>
	
</div>