<% content_for(:menu) do %>
	<%= render :partial => 'profiles/menu' %>
<% end %>

<div class="container_16">
  <div class="grid_13 alpha">
    
    <h1>Создать подраздел</h1>

    <% form_for(@product_sub_section) do |f| %>
      <%= f.error_messages %>

      <p>
        <%= f.label :Категория %><br />
        <%= f.select :product_category_id, @product_categories.collect {|p| [ p.category, p.id ]}, { :include_blank => "Выберите категорию" } %>
      </p>

      <p>
        <%= f.label :Раздел %><br />
        <%= f.select :product_section_id, @product_sections.collect {|p| [ p.section, p.id ]}, { :include_blank => "Выберите раздел" } %>
      </p>

      <p>
        <%= f.label :Подраздел %><br />
        <%= f.text_field :subsection %>
      </p>
      
      <p>
        <%= f.submit 'Создать' %>
      </p>
    <% end %>

    <%= link_to 'Назад', product_sub_sections_path %>

  </div>
  <%= render :partial => 'profiles/rmenu' %>
</div>