<% content_for(:menu) do %>
	<%= render :partial => 'profiles/menu' %>
<% end %>

<div class="container_16">
  <div class="grid_13 alpha">

    <p>
      <b>Категория:</b>
      <%=h @category %>
    </p>

    <p>
      <b>Раздел:</b>
      <%=h @section %>
    </p>

    <p>
      <b>Подраздел:</b>
      <%=h @product_sub_section.subsection %>
    </p>

    <%= link_to 'Изменить', edit_product_sub_section_path(@product_sub_section) %> |
    <%= link_to 'Назад', product_sub_sections_path %>

  </div>
  <%= render :partial => 'profiles/rmenu' %>
</div>