<% content_for(:menu) do %>
	<%= render :partial => 'profiles/menu' %>
<% end %>

<div class="container_16">
  <div class="grid_13 alpha">

    <h1>Список категорий товаров</h1>

    <table>
      <tr>
        <th>Категория</th>
        <th>&nbsp</th>
        <th>&nbsp</th>
        <th>&nbsp</th>
        <th>создано</th>
        <th>изменено</th>
      </tr>

    <% @product_categories.each do |product_category| %>
      <tr>
        <td><%=h product_category.category %></td>
        <td><%= link_to 'Показать', product_category %></td>
        <td><%= link_to 'Изменить', edit_product_category_path(product_category) %></td>
        <td><%= link_to 'Удалить', product_category, :confirm => 'Are you sure?', :method => :delete %></td>
        <td><%=h Russian::strftime(product_category.created_at, "%d %B %Y, %H:%M") -%></td>
        <td><%=h Russian::strftime(product_category.updated_at, "%d %B %Y, %H:%M") -%></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'Создать новую категорию', new_product_category_path %>

  </div>
  <%= render :partial => 'profiles/rmenu' %>
</div>