<% content_for(:menu) do %>
	<%= render :partial => 'profiles/menu' %>
<% end %>

<div class="container_16">
  <div class="grid_13 alpha">

    <h1>Изменить раздел</h1>

    <% form_for(@product_section) do |f| %>
      <%= f.error_messages %>

      <p>
        <%= f.label :Раздел %><br />
        <%= f.text_field :section %>
      </p>
      <p>
        <%= f.submit 'Внести изменения' %>
      </p>
    <% end %>

    <%= link_to 'Показать', @product_section %> |
    <%= link_to 'Назад', product_sections_path %>

  </div>
  <%= render :partial => 'profiles/rmenu' %>
</div>