<script type="text/javascript">
	$(document).ready(function() {
		$("#post_section_id").attr("disabled","");
		$("#post_sub_section_id").attr("disabled","");
	});
</script>
<% if @post.category_id == 1 %>
<script type="text/javascript">
	$(document).ready(function() {
		$("#form_nedw").show();	
	});
</script>
<% end %>

<% content_for(:menu) do %>
	<%= render :partial => 'nmenu' %>
<% end %>

<% form_for @post, :html => { :multipart => true } do |f| %>
<div class="container_12">
	<div class="grid_7">
		<div id="locations">
			<%= f.label(:sub_section, "Населённый пункт :", :class => "mylabelstyle") %>
			<%= f.select :location_id, options_for_select( @locations, [@post.location.to_s,@post.location_id.to_s] ) %>
		</div>
		<div id="categories">
			<%= f.label(:category, "Категория :", :class => "mylabelstyle") %>
			<%= f.select :category_id, options_for_select(@categories, [@post.categorie.to_s,@post.category_id.to_s]) %>
		</div>
		<div id="sections">
			<%= f.label(:section_id, "Раздел :", :class => "mylabelstyle") %>
			<%= f.select :section_id, options_for_select(@sections, [@post.section.to_s,@post.section_id.to_s]) %>
		</div>
		<div id="subsections">
			<%= f.label(:sub_section_id, "Под раздел :", :class => "mylabelstyle") %>
			<%= f.select :sub_section_id, options_for_select(@subsections,[@post.sub_section.to_s,@post.sub_section_id.to_s]) %>
		</div>
		<br />
		<%= f.label(:title, "Заголовок объявления:", :class => "mylabelstyle") %><br />
		<%= f.text_field :name, :size => 41, :class => "myinputstyle" %><br />
		<%= f.label(:title, "Текст объявления :", :class => "mylabelstyle") %><br />
		<%= f.text_area :content, :cols => 60, :rows => 4, :class => "myinputstyle" %><br />
		<% fields_for @postfoto do |child_form| %>
			<%= child_form.label(:title, "Добавить фото в объявление:", :class => "mylabelstyle") %><br />
			<%= child_form.file_field :photo, :size => 26, :class => "myinputstyle" %>
		<% end %>
		<p>
		<div id="form_nedw">
  			<fieldset class="myinputstyle" style="padding: 5px;">
  			<legend style="margin-left: 30px;">Описание объекта</legend>
  			<label class="mylabelstyle" for="rooms">Комнат :</label>
  			<% f.fields_for :options do |o| %>
  				<%= o.select :rooms, '<option value="0">кол-во комнат</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5+</option>'.html_safe %>
  				<label class="mylabelstyle" for="floor">Этаж/этажность :</label>
  				<%= o.text_field :floor, :size => 4, :value => "—/—" %><br />
  		  		<p class="mylabelstyle">Площадь:
  		  			<%= o.text_field :square, :size => 4, :value => "общая" %>м²
  		  			<%= o.text_field :living_space, :size => 4, :value => "жилая" %>м²
  				</p>
  			<% end %>
		</div>
		<%= f.label(:title, "Цена, только цифры без пробелов :", :class => "mylabelstyle") %><br />
		<%= f.text_field :price, :size => 21, :class => "myinputstyle" %>
		<%= f.select :pricecomment, options_for_select([ {'exchange'=>'рубли', 'id'=>'rub'},{'exchange'=>'рубли, торг уместен', 'id'=>'rubtorg'},{'exchange'=>'доллары', 'id'=>'dollar'} ].map!{|x| [ x["exchange"], x["id"] ] }) %>
		<fieldset class="myinputstyle" style="padding: 5px;">
		<% f.fields_for :options do |o| %>			
			<legend style="margin-left: 30px;">Контактные данные</legend>
			<label class="mylabelstyle" for="tel_num">Телефон:</label>
			<%= o.text_field :tel_num, :size => 12, :value => " " %>
			<label class="mylabelstyle" for="email">email:</label>
			<%= o.text_field :email, :size => 30, :value => " " %><br />
			<label class="mylabelstyle" for="other_contact">Доп. информация:</label><br />
			<%= o.text_area :other_contact, :cols => 60, :rows => 2 %>
		<% end %>
		</fieldset>
		</p>
	</div>
	<div class="grid_5">
		<span class="mylabelstyle">
		Фотографии этого объявления:
		</span><br />
		<% for postphoto in @postfotos %>
			<script type="text/javascript">
				$(document).ready(function() {
					$("a[rel=<%= postphoto.id %>]").fancybox({
						'transitionIn'		: 'none',
						'transitionOut'		: 'none',
						'titlePosition' 	: 'over',
						'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) { return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>'; }
					});
				});
			</script>
			<a id="<%= postphoto.id %>" rel="<%= postphoto.id %>" href="<%= postphoto.photo.url(:medium) %>" title="<%= postphoto.comment %>"><img alt="" src="<%= postphoto.photo.url(:verysmall) %>" /></a>
			<%= link_to "Изменить", edit_postfoto_path(postphoto) %>
			<%= link_to "Большое", postphoto.photo.url %>
			<%= link_to "Удалить", postphoto, :confirm => 'Are you sure?', :method => :delete %><br />
		<% end %>
	</div>
	<div class="clear"></div>
	<div class="grid_5"><%= f.submit "Отправить" %></div>
	<div class="grid_2"><%= link_to "Очистить форму", new_post_path %></div>
	<div class="clear"></div>
</div>
<% end %>