<% content_for(:menu) do %>
	<%= render :partial => 'menu' %>
<% end %>

<div style="width: 1000px; margin: 0 auto;">
<ul class="sf-menu">
  <% @categories.each do |category| %>
  <li>
    <a href="/posts/location/<%= @location_id %>/category/<%= category.id %>" id="<%= category_img_id(category.id) %>">
      <%= category.category %>
      <br>
      (<%= Post.count( :conditions => "category_id = #{category.id}" ) %>)
    </a>
    <ul>
      <% category.product_sections.each do |section| %>
        <li>
          <a href="/posts/location/<%= @location_id %>/category/<%= category.id %>/section/<%= section.id %>"><%= section.section -%> (<%= Post.count( :conditions => "category_id = #{category.id} AND section_id = #{section.id}" ) %>)</a>
          <ul>
            <% section.product_sub_sections.each do |sub_section| %>
              <li>
                <a href="/posts/location/<%= @location_id %>/category/<%= category.id %>/section/<%= section.id %>/subsection/<%= sub_section.id %>"><%= sub_section.subsection -%> (<%= Post.count( :conditions => "category_id = #{category.id} AND section_id = #{section.id} AND sub_section_id = #{sub_section.id}" ) %>)</a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
	</li>
  <% end %>
</ul>
</div>

<div class="clear"></div>
<%= render :partial => 'posts' %>
