<% content_for(:menu) do %>
	<%= render :partial => 'nmenu' %>
<% end %>

<% form_for @post, :html => { :multipart => true } do |f| %>
<div class="container_12">
	<div class="grid_7">
			<%= f.label(:category, "Категория :", :class => "mylabelstyle") %>
			<%= f.select :category, "<option value='0'>выберите категорию</option>
									<option value='1'>недвижимость</option>
									<option value='2'>транспорт</option>
									<option value='3'>бытовая техника</option>
									<option value='4'>услуги</option>
									<option value='5'>разное</option>" %>
		<div id="newcatlist">
			<%= f.label(:razdel, "Раздел :", :class => "mylabelstyle") %>
			<%= f.select :razdel, "<option value='0'>выберите раздел</option>" %>
		</div><br />
			<%= f.label(:title, "Заголовок объявления:", :class => "mylabelstyle") %><br />
			<%= f.text_field :name, :size => 41, :class => "myinputstyle" %><br />
		    <%= f.label(:title, "Текст объявления :", :class => "mylabelstyle") %><br />
		    <%= f.text_area :content, :cols => 60, :rows => 4, :class => "myinputstyle" %><br />
			<% fields_for @postfoto do |child_form| %>
				<%= child_form.label(:title, "Добавить фото в объявление:", :class => "mylabelstyle") %><br />
				<%= child_form.file_field :photo, :size => 26, :class => "myinputstyle" %>
			<% end %>
			<p>
			<div id="form_nedw" style="display: none;">
			<fieldset class="myinputstyle" style="padding: 5px;">
				<legend style="margin-left: 30px;">Описание объекта</legend>
			<label class="mylabelstyle" for="rooms">Комнат :</label>
				<select id="rooms" name="post[rooms]">
				<option value="0">кол-во комнат</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5+</option>
				</select>
				<label class="mylabelstyle" for="floor"> Этаж/этажность :</label><input type="text" size="4" value="—/—" name="floor"/>
				<br />
			<p class="mylabelstyle">Площадь:							
				<input type="text" size="4" value="общая" name="square"/> м²
				<input type="text" size="4" value="жилая" name="living_space"/> м²
				</p>
			
			</div>
			<%= f.label(:title, "Цена, только цифры без пробелов :", :class => "mylabelstyle") %><br />
			<%= f.text_field :price, :size => 21, :class => "myinputstyle" %><br>
			<%= f.label(:title, "Комментарий к цене :", :class => "mylabelstyle") %><br />
			<%= f.text_field :pricecomment, :size => 31, :class => "myinputstyle" %>
			  <fieldset class="myinputstyle" style="padding: 5px;">				
				<legend style="margin-left: 30px;">Контактные данные</legend>
				<label class="mylabelstyle" for="tel_num"> Телефон:</label><input type="text" size="12" value=" " name="tel_num"/>
				<label class="mylabelstyle" for="email"> email:</label><input type="text" size="30" value=" " name="email"/><br />
				<label class="mylabelstyle" for="other_contact"> Доп. информация:</label><br /><textarea rows="2" cols="45" name="other_contact"></textarea>
			  </fieldset>					
			</p>
	</div>
	<div class="grid_5">
		<%= f.error_messages %>
		Для того чтобы правильно заполнить объявление, заполните внимательно все поля формы.<br>
		<ul class="helpcontent">
		<li>Обязательно выберите категорию объявления.</li>
		<li>После этого обязательно выберите раздел</li>
		<li>Заполниет заголовок и текст объявления</li>
		<li>Для того чтобы заинтересовать Вашего потенциального покупателя можете прикрепить фотографию или картинку к объявлению, это можно сделать и позже. Количество фотографий не ограничено.</li>
		<li>Цену и комментари к цене указывать не обязательно, это можно сделать и позже.</li>
		<li><strong style="color:red">Ваше объявление будет отображаться в течении 30 дней. По истечении этого срока Вам необходимо зайти на сайт и нажать кнопку "Продлить объявление" в разделе изменить объявление</strong></li>
		</ul>
	</div>
	<div class="clear"></div>
	<div class="grid_5"><%= f.submit "Отправить" %></div>
	<div class="grid_2"><%= link_to "Очистить форму", new_post_path %></div>
	<div class="clear"></div>
</div>
<% end %>