<% content_for(:menu) do %>
	<%= render :partial => 'emenu' %>
<% end %>

<div class="container_12">
	<div class="grid_3">
		<script type="text/javascript">
			$(document).ready(function() {
				$("a[rel=<%= @postfoto.id %>]").fancybox({
					'transitionIn'		: 'none',
					'transitionOut'		: 'none',
					'titlePosition' 	: 'over',
					'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) { return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>'; }
				});
			});
		</script>
		<a id="<%= @postfoto.id %>" rel="<%= @postfoto.id %>" href="<%= @postfoto.photo.url(:medium) %>" title="<%= @postfoto.comment %>"><img alt="" src="<%= @postfoto.photo.url(:small) %>" /></a>
	</div>
	<div class="grid_9">
		<% form_for @postfoto, :html => { :multipart => true } do |f| %>
		  <%= f.error_messages %>
		  <p>
			<%= f.label(:comment, "Комментарий к фото :", :class => "mylabelstyle") %>
			<%= f.text_field :comment, :size => 50, :class => "myinputstyle" %>
		  </p>
		  <p>
			<%= f.label(:foto, "Выберите новую фотографию :", :class => "mylabelstyle") %><br />
		    <%= f.file_field :photo %>
		  </p>
		  <p><%= f.submit "Внести изменения" %></p>
		<% end %>
	</div>
	<div class="clear"></div>
	<div class="grid_8">&nbsp;</div>
	<div class="grid_3">
		<%= link_to "Удалить фото", @postfoto, :confirm => 'Are you sure?', :method => :delete %>
	</div>
	<div class="clear"></div>
</div>