<% form_for @nedvj, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :name, :size => 50 %>
  </p>
  <p>
    <%= f.label :Описание %><br />
    <%= f.text_area :content, :cols => 50, :rows => 10 %>
  </p>
  <p>
    <%= f.label :Цена %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :Примечание_к_цене %><br />
    <%= f.text_field :pricenote %>
  </p>
  <p>
    <%= f.label :Категория %><br />
	<%= f.select :category, "<option>выберите категорию недвижимости</option><option>квартиры</option><option>домовладения</option><option>коммерческая недвижимость</option><option>земельные участки</option><option>аренда жилья</option>" %>
  </p>
  <p><%= f.submit "Сохранить" %></p>
<% end %>
